/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", system-ui, -apple-system, sans-serif;

  @apply text-neutral-900 bg-neutral-50 dark:text-neutral-50 dark:bg-neutral-900;
  @apply text-sm sm:text-base antialiased;
}

/* Calendly Widget Styles */
.calendly-badge-widget {
  cursor: pointer;
  margin-right: 120px !important; /* Adjust margin to avoid collision with Tawk widget */
}
